<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="equalityTest.xml"/>
    <import resource="form_analyzez_config.xml"/>

    <bean id="signatureDecomposer" class="decomposer.SignatureDecomposer">
        <property name="minSignatureLength" value="7"/>
        <property name="maxSignatureLength" value="12"/>
        <property name="melodyEqualityAnalyzer" ref="melodyEqualityAnalyzer"/>
        <!--<property name="melodyEqualityAnalyzer" ref="MelodyEqualityAnalyzerNotator"/>-->
    </bean>

    <bean id="melodyEqualityAnalyzerNotator" class="decomposer.melody.analyzer.MelodyEqualityAnalyzerNotator">
        <property name="notateSuccessful" value="true"/>
        <property name="analyzer" ref="melodyEqualityAnalyzer"/>
    </bean>

    <bean id="melodyEqualityAnalyzer" class="decomposer.melody.analyzer.MelodyEqualityAnalyzerImpl" >
        <property name="equalityTestPassThreshold" value="0.75"/>
        <property name="countourEqualityTest" ref="countourEqualityTestWrapper"/>
        <property name="intervalsEqualityTest" ref="intervalsEqualityTestWrapper"/>
        <property name="inversionEqualityTest" ref="inversionEqualityTestWrapper"/>
        <property name="orderEqualityTest" ref="orderEqualityTestWrapper"/>
        <property name="rhythmEqualityTest" ref="rhythmEqualityTestWrapper"/>
    </bean>

    <context:component-scan base-package="model,decomposer,utils,composer,database"/>
</beans>